# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# alacritty theme
themes/
# yazi flavors
flavors/

# neovim
nvim/lazy-lock.json
nvim/.luarc.json
#mega-cmd
.debris/

# yazi
plugins/
