/*    COLOR DEFINE */
@define-color bgcolor #7987A1;
@define-color txt #b4befe;
@define-color txtdark #6C7298;
/* */
@define-color fg #d8d8d8;
@define-color red #e06c75;
@define-color green #98c379;
@define-color yellow #e5c07b;
@define-color blue #61afef;
@define-color magenta #c678dd;
@define-color cyan #56b6c2;
@define-color white #abb2bf;

* {
  margin: 0;
  padding: 0 3px;
  border: none;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 13px;
  min-height: 14px;
}
/* VISUAL */
window#waybar {
  background: transparent;
}
#workspaces button.active {
  color: @txt;
}
#idle_inhibitor.activated {
  color: @red;
}
#hardware,
#control {
  border-radius: 20px;
  color: @txt;
}
#network,
#power_menu {
  color: @txt;
}
#clock {
  color: @txt;
}

/* Styling elements */
#battery.full-charge {
  color: @red;
}
#battery.good {
  color: @green;
}
#battery.warning {
  color: @yellow;
}

#battery.critical {
  color: @red;
}

#cpu.warning {
  color: @yellow;
}

#memory.warning {
  color: @yellow;
}
#memory.critical {
  color: @red;
}

#temperature.critical {
  color: @red;
}
