/*    COLOR DEFINE */
@define-color bgcolor #7987A1;
@define-color txt #b4befe;
@define-color txtdark #6C7298;
/* */
@define-color fg #d8d8d8;
/*  */
@define-color red #F44336;
@define-color green #4CAF50;
/* @define-color soft-green #8BC34A; */
@define-color orange #FFC107;
/*  */
@define-color blue #61afef;
@define-color magenta #c678dd;
@define-color cyan #56b6c2;
@define-color white #abb2bf;

* {
  margin: 0;
  padding: 0 3px;
  border: none;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 13px;
  min-height: 14px;
}
/* VISUAL */
window#waybar {
  background: transparent;
}
#workspaces button.active {
  color: @txt;
}
#idle_inhibitor.activated {
  color: @red;
}
#hardware,
#control {
  border-radius: 20px;
  color: @txt;
}
#network,
#power_menu {
  color: @txt;
}
/* #clock { */
/*   color: @txt; */
/* } */

/* Styling elements */
/* #battery.full { */
/*   color: @green; */
/* } */
#battery.warning {
  color: @orange;
}
#battery.critical {
  color: @red;
}
/*  CPU STYLES */
#cpu.good {
  color: @green;
}
#cpu.warning {
  color: @orange;
}
#cpu.critical {
  color: @red;
}
/*  MEMORY style*/
#memory.good {
  color: @green;
}
#memory.warning {
  color: @orange;
}
#memory.critical {
  color: @red;
}
