/* catppuccin Mocha color */
@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

* {
  margin: 0;
  padding: 0 3px;
  border: none;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 13px;
  min-height: 14px;
}

/* VISUAL */
window#waybar {
  background: transparent;
}

#workspace {
  color: @text;
}

#workspaces button.active {
  color: @teal;
}

#idle_inhibitor.activated {
  color: @red;
}

#hardware,
#control {
  border-radius: 20px;
  color: @subtext1;
}

#network,
#power_menu {
  color: @subtext1;
}

#clock {
  color: @subtext1;
}

/* Styling elements */
/*  CPU STYLES */
#cpu.good {
  color: @green;
}

#cpu.warning {
  color: @peach;
}

#cpu.critical {
  color: @red;
}

/*  MEMORY style*/
#memory.warning {
  color: @peach;
}

#memory.critical {
  color: @red;
}

/* BATTERY sytle */
#battery.full {
  color: @green;
}

#battery.warning {
  color: @peach;
}

#battery.critical {
  color: @red;
}

/* BACKLIGHT */
#backlight.critical {
  color: @red;
}

#backlight.warning {
  color: @peach;
}

/* PULSEAUDIO STYLES */
#pulseaudio.critical {
  color: @red;
}
